script(src="https://storage.googleapis.com/code.getmdl.io/1.0.1/material.min.js")
script(src="vendor/angular/angular.min.js")
script(src="vendor/angular-route/angular-route.min.js")
script(src="javascripts/app.js")